.social-items {
  display: flex; // this is a flex container
  flex-wrap: wrap;
  //justify-content: space-between;
}

.social-item {
  display: flex; // this is a flex container
  flex-grow: 1;
  height: 110px;
  margin: 0.3em;
  overflow: hidden;
  width: 180px;
  text-decoration: none;
  color: @textColor;
  font-family: Conduit;

  &:hover {
    background-color: #b7b7b7;
    color: black;
    transition: background-color 500ms, color 500ms;
  }

  img, .img {
    margin-right: 0.2em;
    // When scaling images, Chrome requires width, height, max-width and max-height
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
    //flex-basis: 40px;
  }

  .author {
    color: @authorTextColor;
    font-weight: bold;
    display: inline-block;
    margin-right: 0.5em;
  }

  > div {
    overflow: hidden;
  }

}

.social-item-placeholder {
  .img {
    background-color: @authorTextColor;
    width: 40px;
    height: 40px;
  }

  .author {
    background-color: @authorTextColor;
    height: 0.6em;
    width: 60%;
  }

  .content {
    width: 100%;
    &::after {
      content: '■■■ ■■■■ ■■■■■■ ■■■■ ■■■■■■■■ ■■■ ■■■■ ■■■■■■■■ ■■■';
      letter-spacing: -0.15em;
    }
  }
}