@orange: rgb(240,131,0);

.codestar-page-wrapper {
  background: linear-gradient(#1766b1 0%, #2b7dc6 100%);
  color: white;

  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 15px;
    background-color: #145895;
    z-index: 100;
    text-align: center;

    .logo {
      height: 40px;
      float: left;
    }

    h2 {
      font-size: 1.5em;
      color: #fff;
      display: inline;
      margin: 0 20px;
    }

    .jobs-link {
      display: inline-block;
      background-color: @orange;
      color: #fff;
      padding: 2px 4px;
      text-decoration: none;
      margin: 0.7em 3em;
      font-size: 12px;
      float: left;

      &:hover {
        background-color: darken(@orange, 2%);
      }
    }
  }

  .page {
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;

    //&.landing-page {
    //  background: linear-gradient(#1766b1 0%, #2b7dc6 100%);
    //}

    &.events-page {
      //background-color: #0c4d90;

      iframe {
        margin-bottom: 30px;
        border: 4px solid fade(@orange, 60%);
      }
    }
  }
}
